<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
   
    <httpRuntime maxRequestLength="419430400" />
    <!-- kilobytes -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="419430400" />
        <fileExtensions allowUnlisted="true">
          <remove fileExtension="." />
          <remove fileExtension=".cs" />
          <add fileExtension="." allowed="true" />
          <add fileExtension=".cs" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>